body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(120px, 200px) minmax(240px, 1fr) 80px;
      grid-template-columns: minmax(120px, 200px) minmax(240px, 1fr) 80px;
  -ms-grid-rows: auto 1fr auto auto;
      grid-template-rows: auto 1fr auto auto;
      grid-template-areas: 'logotype search hamburger' 'images images images' 'contact contact contact' 'footer footer footer';
  min-height: 100vh;
  max-width: 1240px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .grid {
    -ms-grid-columns: minmax(300px, auto) 1fr;
        grid-template-columns: minmax(300px, auto) 1fr;
    -ms-grid-rows: auto auto auto 1fr auto auto;
        grid-template-rows: auto auto auto 1fr auto auto;
        grid-template-areas: 'logotype images' 'menu images' 'search images' '. images' 'contact images' 'footer footer';
  }
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logotype;
  background-color: #975555;
  height: 100px;
}

.search {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: #1e1c85;
}

@media (min-width: 1024px) {
  .search {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: search;
    min-height: 80px;
  }
}

.menu {
  grid-column: -1/-2;
  -ms-grid-row: 1;
  grid-row: 1;
  background-color: #ddd019;
}

@media (min-width: 1024px) {
  .menu {
    grid-area: menu;
    min-height: 80px;
  }
}

.gallery {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: images;
  background-color: #7b94ca;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(205px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
  gap: 15px;
  padding: 120px 15px 15px;
  position: relative;
}

.gallery img {
  width: 100%;
}

.gallery h1 {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  text-align: center;
}

.contact {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contact;
  height: 60px;
  background-color: #19a178;
}

.footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  height: 100px;
  background-color: #4d1515;
}
/*# sourceMappingURL=style.css.map */